.pretzel {
    position: absolute;
    left: 60px;
    top: 270px;
    background: url(img/Pretzel.png);
    background-size: 256px 256px;
}
.loader {
    border-radius: 10%;
    border: 2px solid;
    background-color: crimson;
}