.box {
    border: none;
}
.box {
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}
.box:active {
    transform: scale(0.75);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.loader {
    border-radius: 10%;
    border: 2px solid;
    background-color: crimson;
}
